.app {
  position: relative;
  /* min-height: 100vh; */
  background-color: var(--secondary);
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-size: 5rem;
  margin-top: 2rem;
}

li {
  list-style: none;
}
/*
.travel-collection-container {
  position: relative;
}

.travel-collection-container::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url(../public/travel-wallpaper.png);
  background-repeat: space;
  background-size: auto;
  background-size: 20%;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* min-height: 100vh; */

  padding-top: 5rem; /* padding for navbar */
  padding-bottom: 5rem; /* padding for footer */
}

.container h2 {
  margin: 1rem 2.5rem;
}

.pointer {
  cursor: pointer;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: black;
  background-color: var(--secondary);
  padding: 10px 20px;
  /* background-color: transparent; */
  opacity: 1;
  outline: 0 solid transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  box-shadow: var(--primary) 0 10px 20px -10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #edae00 0%,
    #e3c570 51%,
    #edae00 100%
  );
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  transition: 0.5s;
  text-transform: uppercase;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px var(--secondary);
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: var(--secondary);
  text-decoration: none;
}

.btn-check {
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.btn-plus {
  /* border-radius: 50%; */
  left: 40px;
  padding: 10px;
  text-decoration: underline;
  text-underline-offset: 3px;
  position: absolute;
  bottom: 10px;
  box-shadow: none;
  background-color: transparent;
  /* left: 50px; */
  /* width: 8%; */
}

.btn-add {
  margin-top: 2rem;
  border-radius: 50%;
  padding: 10px;
  max-width: 8%;
  width: 8%;
  background-color: var(--primary-half-opacity);
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  color: black;
  /* opacity: 0.8; */
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid var(--primary);
  box-shadow: 0px 15px 10px -15px var(--primary);
  padding: 1rem 0rem;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

.logo {
  color: var(--gold);
  text-shadow: #e9d7a4 1px 1px 2px;
  font-weight: bold;
  margin-right: 4rem;
}

.footer {
  display: flex;
  justify-content: center;
  /* opacity: 0.8; */
  font-size: 1.2rem;
  background-color: var(--secondary);
  color: black;
  /* border-top: 1px solid var(--primary);
  box-shadow: 0px -15px 10px -15px var(--primary); */
  padding: 3rem 0rem;
  width: 100%;
  font-weight: bold;
}

.footer .logo {
  margin-right: 0;
}
.navbar ul {
  display: flex;
}
.navbar li {
  margin-right: 1rem;
}

/* HOME */

.home-wrap {
  position: relative;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.home-wrap::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: url(../public/van-wallpaper.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-content {
  position: relative;
}

.home-content {
  min-height: 100vh;
  display: flex;
  color: black;
  flex-direction: column;
  /* justify-content: center; */

  align-items: center;
}

.home-content h2 {
  font-size: 1.2rem;
  text-shadow: var(--secondary) 1px 0 15px;
}

/* Form */
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logout {
  display: flex;
  justify-content: space-evenly;
  margin: 0 4rem;
}

.form {
  display: flex;
  width: 30vw;
  min-height: 35vh;
  flex-direction: column;
  padding: 3rem;
  margin: 3rem;
  border: 1px solid var(--tertiary);
  box-shadow: 0px 15px 10px -15px black;
  border-radius: 5px;
  background-color: var(--gold);
}
.form label,
.form h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}

.form input {
  border: 2px solid black;
  background-color: var(--gold);
  color: black;
}

input:focus,
select {
  color: black;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}
input[type='date']:invalid::-webkit-datetime-edit {
  color: black;
}

/* ::-webkit-calendar-picker-indicator {
  filter: invert(1);
} */

.travel-info .form {
  background-color: transparent;
  box-shadow: none;
}

.create-category .form {
  background-color: transparent;
  box-shadow: none;
  border: 2px solid var(--primary-half-opacity);
}

.create-category .form input {
  background-color: transparent;
  box-shadow: none;
  border: 2px solid var(--primary-half-opacity);
}

.form h2 {
  text-align: center;
}
.form input {
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.new-date-city {
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
}

.new-date-city {
  border: 2px solid var(--primary);
}

.form button {
  margin-top: 1rem;
}

#btn-span {
  cursor: pointer;
  font-weight: 1000;
  text-decoration: underline;
}

/* TRAVEL FORM */

.travel-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-relative {
  position: relative;
  width: 40%;
}

.image {
  width: 40%;
  position: absolute;
  left: 35%;
  top: 15%;
  /* margin-top: -50px; */
  /* top: 50%;
  right: 50%;
  transform: translate(-50%, -50%); */
}

.image-50 {
  width: 50%;
}

.travel-form form {
  border: none;
  position: relative;
  margin: 6rem 0;
}

.travel-itinerary-container {
  display: flex;
  flex-direction: column;
}

.edit-information {
}

.edit-information-item {
  display: flex;
  flex-direction: column;
}

.edit-information-item button {
}

.new-date-city {
  background-color: #edae003f;
}

.new-date-city span {
  font-weight: 1000;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--gold);
}

/* TIMELINE-LIST */

.categories-item-container {
  display: flex;
  /* margin: 2rem 0; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categories-item-boxes {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.categories-item-boxes h3 {
  margin-left: 2rem;
}

.categories-item-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.categories-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
  background-color: var(--violet);
  color: black;
  border: 1px solid var(--primary-half-opacity);
  border-radius: 5px;
  box-shadow: 0px 15px 10px -15px var(--primary);
  /* min-width: 10vw; */
  width: 10rem;
  height: 10rem;
}

.categories-item h3 {
  margin-bottom: 1rem;
  text-align: center;
  margin: 0;
}

.categories-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.categories-item-icon.no-border {
  border: none;
}

.timeline-list,
.categories-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline-list h2 {
  text-transform: uppercase;
}

.timeline-item h3,
.categories-item-boxes h3 {
  text-decoration: underline;
  text-decoration-color: var(--primary-half-opacity);
  text-underline-offset: 5px;
  margin-bottom: 1rem;
}

#no-underline {
  text-decoration: none;
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border: 2px solid var(--primary);
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
}

.close-item {
  display: flex;
  justify-content: right;
}

#btn-center {
  justify-content: center;
}

.vertical {
  flex-direction: column;
}

.btn-close {
  border-radius: 50%;
  padding: 10px;
  background-color: var(--secondary);
  color: black;
}

.btn-close-absolute {
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn-plus-blue {
  background-color: var(--primary);
  color: var(--secondary);
}

.categories-list {
  /* TODO: change this margin */
  margin: 10rem 0;
}

.toggle-check {
  text-decoration: line-through;
}

.checked {
  background-color: var(--primary);
  opacity: 0.5;
  color: var(--secondary);
}

/* TRAVEL COLLECTIONS */

.travel-collection-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 2rem 5rem;
  padding-top: 5rem; /* padding for navbar */
  padding-bottom: 5rem; /* padding for footer */
}

.travel-collection-container h2 {
  text-align: center;
}

.travel-collection-container.categories h2 {
  text-transform: uppercase;
}

.travel-collection-box h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: underline overline;
  text-decoration-color: var(--primary-half-opacity);
  text-underline-offset: 8px;
  margin-bottom: 1rem;
}

.travel-collection-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

.image-relative {
  position: absolute;
  width: 100%;
  opacity: 0.5;
}

.travel-collection-boxes {
  display: flex;
  margin: 2rem 0;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.travel-collection-box {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  margin: 2rem 3rem 2rem 3rem;
  justify-content: center;
  min-width: 20vw;
  background: var(--secondary);
  border: 2px solid var(--primary-half-opacity);
  border-radius: 5px;
  box-shadow: 0px 15px 10px -15px var(--primary);
}

.travel-collection-btns {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.btn-travel {
  margin: 0 1rem;
  background-image: linear-gradient(
    to right,
    #85aaef94 0%,
    #ccdeff 31%,
    #ccdeff 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  font-size: 1.2rem;
}

.btn-travel:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.btn-travel-text {
  text-decoration: underline;
  text-underline-offset: 3px;
  box-shadow: none;
  background-color: transparent;
}

.travel-collection-item {
  display: flex;
  align-items: center;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.dropdown-target {
  cursor: pointer;
}

.menu {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.menu:first-child {
  margin-top: 0.5rem;
}

/* CREATE NEW ACTIVITY */

.list-items-activities {
  margin: 0;
}

/* CREATE NEW ACTIVITY POPUP */

.create-activity {
  background-color: var(--secondary);
  position: absolute;
  padding: 1rem;
}

.modal {
  font-size: 12px;
}

.modal > .content {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.popup-content {
  /* background-color: transparent !important ;
  border: none !important ; */
}

.modal > .content-map {
  /* position: absolute; */
  display: block;
  /* justify-content: center;
  align-items: center; */
  /* background: transparent; */
}

.modal > .close {
  position: absolute;
  display: block;
  padding: 2px 5px;
  right: -10px;
  top: -10px;
  background: transparent;
  border: none;
}

/* MAP */

.map-container {
  margin: 2rem 5rem;
  display: flex;
  justify-content: center;
  padding-top: 5rem; /* padding for navbar */
  padding-bottom: 5rem; /* padding for footer */
}

.map {
  position: relative;
}

.category-item {
  position: absolute;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.category-item h2 {
  text-transform: uppercase;
}

.category-item h3 {
  text-decoration: underline;
  text-decoration-color: var(--primary-half-opacity);
  text-underline-offset: 5px;
}

/* PLACES */

.places-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  padding-top: 5rem; /* padding for navbar */
  padding-bottom: 5rem; /* padding for footer */
}

.categories-item-box-pointer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  justify-content: center;
}

.categories-item-box-pointer h3 {
  margin: 1rem 0;
}
