* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--secondary);
}

:root {
  --primary: #091d36;
  --secondary: #fffdfa;
  --tertiary: #87dcf0;
}
