* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Reem Kufi Fun', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: scale;
  background-color: var(--secondary);
}

:root {
  --primary: #012360;
  --secondary: #fffdfa;
  --tertiary: #fed8ea;
  --violet: #ddd3f6;
  --cool-blue: #ccdeff;
  --primary-half-opacity: #0122606e;
  --gold: #edae00;
}
